*{
    margin: 0px;
     padding: 0px;
 }

body{
 background-size:cover ;
  }

  #contenedor {
   width: 100%;
   margin: auto;
   margin-bottom: 1px;
  }

    /* header */
    header{
     width: 15%;
     height: 80px;
     background:rgb(218, 165, 32); 
     float: left;
     position:-webkit-sticky;
     position: sticky;
     top: 0px;
    }  
            
      header h1{
       font: size 30px;
       text-align: left;
       line-height: 10px ;
       margin-left: 1%;
       width: 78%;
       float: right;
      }

        /* logo */
        header img {
         width: 100px;
         float: left;                
         font: size 10px;
         text-align: left;
         line-height: 10px ;
        }

          header img:hover{
           transform: scale(1.15);
          }

  /* bloque menu */
  nav {
   background: rgb(218, 165, 32);
   width: 85%;
   height: 80px;
   margin-left: 15%;
   position:-webkit-sticky;
   position: sticky;
   top: 0px;
   /* hacer pocition fixed */
  }

   nav li a{
     text-decoration: none;
   }
    
    nav a:hover{
      color: blue;
      margin-right: 50px;
    }
    

  /* contenido */
  #contenido {
   width: 84%;
   height: 100%;
   float: left;
   background: rgba(255, 255, 255, 0);
   margin-top: 1px;
   margin-left: 1%;
   margin-bottom: 5%;
  }
        
    #contenido p {
     font-size: 35px;
     text-align: left;
     line-height: 43px;
     color: white;
     margin: 1%;}

  /* inicio bikes */
  /* poner nombre de la bicicleta y precio */
  #iniciobike{
   background-color: #f7d547;
  }

    #iniciobike :hover{
     transform: scale(1.05);
     color: blue;
    }

      div h1{
       text-align: center;    
      }

  /* inicio piezas */
  #iniciopiezas{
   background-color: #f7d547;
  }

    #iniciopiezas h1{
     margin-top: 1%;
    }

      #iniciopiezas :hover{
       transform: scale(1.05);
       color: blue;
      }

  /* meni.html bikes */
  #contenidomenu {
   width: 84%;
   height: 100%;
   float: left;
   background: rgba(255, 255, 255, 0);
   margin-top: 1%;
   margin-left: 1%;
   margin-bottom: 5%;
   background-color: #f7d547;
  }

    article img:hover{
     transform: scale(1.02);
    }

      article h1:hover{
        transform: scale(1.05);
        color: blue;
      }

  
  /* inicio menu principio*/
  #bloquemenu {
   font-size: 20px;
   text-align: right;
  }
    div a {
     color: black;
     padding: 50px;
    } 
        
  /* publicidad */
  aside {
   width: 14%;
   height: 560px;
   background:#b57c00;
   margin-top: 2px;
   margin-bottom: 2px;
   float: right;
   position:-webkit-sticky;
   position: sticky;
   top: 81px;
   
  }
             
    /* texto de publicidad */
    aside h2 {
     font-size: 30px;
     text-align: left;
     line-height: 400px;
     margin-left: 1%;  
    }

  /* contactos */
  footer {
   background-color: rgba(255, 217, 0, 0.719);
   clear: both;
   margin-left: 1px;
   text-align: center;
  }

    /* logo contactos */
    footer img{
     width: 80px;
     height: 80px;
     margin: 1%;
     }

      footer img:hover{
       transform: scale(1.05);
      }

        footer h4{
          text-align: center;
        }